In [4]:
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [11]:
import pandas as pd
df =  pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [22]:
df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [23]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [29]:
m= df.groupby('Item')

In [31]:
m.describe()

                    Area Code              ...      Y2018
                        count        mean  ...        75%      max
Item                                       ...
Alcohol, Non-Food       283.0  135.855124  ...     5.0000    195.0
Alcoholic Beverages     564.0  133.007092  ...    63.0000   4108.0
Animal Products         135.0  133.777778  ...   130.5000    494.0
Animal fats             639.0  133.456964  ...     7.2500  51864.0
Apples and products     517.0  134.003868  ...     2.4225    910.0
...                       ...         ...  ...        ...      ...
Vegetables, Other       583.0  133.411664  ...    59.2500  11536.0
Vegetal Products        135.0  133.777778  ...  2049.0000   3077.0
Wheat and products      653.0  133.343032  ...   135.5000  17683.0
Wine                    497.0  133.211268  ...     2.0000    936.0
Yams                    383.0  132.631854  ...    43.5000  50000.0

[119 rows x 64 columns]

In [32]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [34]:
df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [89]:
df.groupby('Element').sum()['Y2014']['Production']

1931287.7500000005

In [91]:
df.groupby('Element').sum()['Y2018']

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [45]:
df.groupby('Element').sum()['Y2018'].sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [46]:
df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [60]:
df.groupby(['Area','Element']).sum()

                                                 Area Code  ...     Y2018
Area     Element                                            ...
Algeria  Domestic supply quantity                      464  ...  90023.42
         Export Quantity                               392  ...    811.54
         Fat supply quantity (g/capita/day)            432  ...    309.09
         Feed                                           88  ...  10668.00
         Food                                          420  ...  63736.33
...                                                    ...  ...       ...
Zimbabwe Protein supply quantity (g/capita/day)      20453  ...    176.57
         Residuals                                   18824  ...   -546.00
         Seed                                         3439  ...    140.00
         Stock Variation                             17195  ...   -447.00
         Total Population - Both sexes                 181  ...  14439.00

[803 rows x 8 columns]

In [58]:
df['Area'].nunique()

49